body{
    color:gold;
}

a{
    color:gold;
}

@media only screen and (max-width: 800px) {
    .container{
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        text-align: center;
    }
}

@media only screen and (min-width: 801px) {
    .container{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align: center;
    }
}

.list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.backArrow {
    border: solid gold;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.flyInAlert {
    left: 125%;
    overflow: hidden;
    position: fixed;
    width: 50%;
    opacity: 0.9;
    z-index: 1050;
    transition: left 0.8s ease-out 0s;
    top: 30%;
 }
 
 .alertIn{
     left:25%;
 }

 .error{
    background: red;
    color: white;
    display:inline-block;
    border-radius: 5px;
    margin: 40px;
    padding: 20px;
}