/* You can add global styles to this file, and also import other style files */

body{
    color:gold;
}

@media only screen and (max-width: 800px) {
    .container{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        text-align: center;
    }
}

@media only screen and (min-width: 801px) {
    .container{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align: center;
    }
}

.list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
